# appName ไม่ได้เกี่ยวข้องกับชื่อ cluster จริงๆบน mongoDB หรืออะไรก็ตาม แต่เอาไว้แยกแยะ the connection ที่เข้ามาใช้ให้มีความ unique name จะได้แยกแยะออก
# เมื่อคุณเข้าไปดู Log ใน MongoDB Atlas หรือ Server ของคุณ คุณจะเห็นได้ทันทีว่าคำสั่ง (Query) นี้มาจากแอปตัวไหน เช่น หากคุณมีแอป "MobileApp" และ "WebDashboard" ใช้ฐานข้อมูลเดียวกัน คุณจะแยกแยะได้ว่าเครื่องไหนส่งคำสั่งมา
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-host>/?retryWrites=true&w=majority&appName=Cluster0